html,body{margin:0;padding:0}
body{font: 96% arial,sans-serif;text-align:center}
p{margin:0 1em 1em}
a{padding:1em; text-decoration:none; color:#000000;}
div#header{background-color:#F3F2ED;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#graphs{text-align:left}
div#content p{line-height:1.4}
div#profilo{background:linen;}
div#footer{background:linen;}
div#footer p{margin:0;padding:5px 10px}

div#graphs{width:60%;margin:0 auto; border-width:thin; border-style:solid}
div#form{float:left; clear:left; width:29.76%; border-width:thin; border-style:solid}
div#profilo{float:left; width:29.76%; border-width:thin; border-style:solid}
div#content{float:left;width:70%; border-width:thin; border-style:solid; margin: auto}
div#footer{clear:both;width:100%; border-width:thin; border-style:solid}